*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: sans-serif;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $textPrimary;
  background-color: $bgBody;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

button, a {
  transition: $transition-fast;
}


input[type=text] {
  border: 1px solid $blueSubtle;
  border-radius: $border-radius-s;
  background-color: $white;
  padding: $spacer1_2;

  &:focus {
    outline: 0;
  }
}